* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  min-width: 375px;
}
body {
  padding: 30px 3.2% 24px;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__info img {
  width: clamp(102px, 13.5vw, 156px);
  border-radius: 16px;
}
.profile__info h1 {
  margin: 0;
  margin-top: clamp(12px, 1.6vw, 16px);

  font-size: clamp(1.4rem, 1.9vw, 2.4rem);
  font-weight: 600;
  line-height: clamp(1.7rem, 2.3vw, 2.9rem);

  color: #4e5150;
}
.profile__info p {
  margin-top: clamp(4px, 0.5vw, 8px);

  font-size: clamp(1rem, 1.3vw, 1.4rem);
  font-weight: 600;
  line-height: clamp(1.2rem, 1.6vw, 1.7rem);

  color: #a9a9a9;
}
.profile__stats {
  margin-top: clamp(12px, 1.6vw, 24px);
  display: flex;
  gap: clamp(12px, 1.6vw, 24px);
  justify-content: center;
}
.profile__stats div {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: clamp(78px, 10%, 100px);
  height: clamp(52px, 6.9vw, 67px);
  background-color: #e5e5e5;
  border-radius: 12px;
}
.profile__stats p {
  font-size: clamp(1.2rem, 1.6vw, 1.8rem);
  font-weight: 600;
  line-height: clamp(1.5rem, 2vw, 2.2rem);
  text-align: center;

  color: #4e5150;
}
.profile__stats .stats__title {
  font-size: clamp(1.2rem, 1.6vw, 1.4rem);
  font-weight: 600;
  line-height: clamp(1.5rem, 2vw, 1.7rem);
  text-align: center;

  color: #bdbdbd;
}

.main__content {
  margin-top: clamp(39px, 5.4%, 64px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: clamp(12px, 3.2vw, 32px);
}
.main__content img {
  width: 100%;
  border-radius: 12px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}
.main__content :nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.main__content :nth-child(2) {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}
.main__content :nth-child(3) {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}
.main__content :nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}
.main__content :nth-child(5) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
.main__content :nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

footer {
  margin-top: 44px;
  text-align: center;
}
footer p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.7rem;
  color: #b9bdcf;
}
footer a {
  font-weight: 700;
  color: #b9bdcf;
}

@media (min-width: 1024px) {
  .main__content {
    width: 960px;
    margin: auto;
    margin-top: clamp(39px, 5.4%, 64px);
  }
}
